@model RecipeStep
<!-- Modal -->
<div class="modal fade" id="add-deirection" tabindex="-1" role="dialog" aria-labelledby="addDirectionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDirectionLabel">Add Direction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="AddDirectionModalPartial">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        @Html.DisplayName("Step Number: ")
                        @Html.HiddenFor(m => m.RecipeId)
                        @Html.TextBoxFor(m => m.StepNumber, new { @class = "form-control", @type = "number", @min = "1", @readonly = "readonly" })
                        <span asp-validation-for="StepNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.DisplayName("Step Instruction: ")
                        @Html.TextAreaFor(m => m.StepInstruction, new { @class = "form-control" })
                        <span asp-validation-for="StepInstruction" class="text-danger"></span>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>
