@page
@model Recipes.EditModel
@{
    ViewData["Title"] = "Edit Recipe";
}

<h2 class="text-info">Edit Recipe</h2>
<div class="border container" style="padding:30px">
    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <input type="hidden" asp-for="Recipe.CategoryId" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                @Html.DisplayNameFor(m => m.Recipe.Name)
            </div>
            <div class="col-6">
                @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                @Html.DisplayNameFor(m => m.Recipe.Description)
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.Recipe.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="container row p-0 m-0">
            <div class="col-9">
                @Html.DisplayName("Ingredients:")
            </div>
            <div class="col-3 pb-1">
                <button class="btn btn-info form-control text-white" asp-page-handler="AddIngredient" asp-route-id="@Model.Recipe.Id">Add Ingredient</button>
            </div>
        </div>
        <table class="table table-striped border">
            <tr class="table-secondary">
                <td>Name</td>
                <td colspan="2">Amount</td>
            </tr>
            @for (var i = 0; i < Model.Recipe.Ingredients.Count(); i++)
            {
                <tr>
                    <td>
                        <input hidden asp-for="Recipe.Ingredients[i].IngredientId" class="form-control" />
                        <input hidden asp-for="Recipe.Ingredients[i].RecipeId" class="form-control" />
                        <input hidden asp-for="Recipe.Ingredients[i].Ingredient.Id" class="form-control" />
                        <input hidden asp-for="Recipe.Ingredients[i].Ingredient.Name" class="form-control" />
                        @Html.TextBoxFor(m => m.Recipe.Ingredients[i].Ingredient.Name, new { @class = "form-control" })
                    </td>
                    <td>
                        <input hidden asp-for="Recipe.Ingredients[i].Amount" class="form-control" />
                        @Html.TextBoxFor(m => m.Recipe.Ingredients[i].Amount, new { @class = "form-control" })
                    </td>
                    <td>
                        <button asp-page-handler="DeleteIngredient" asp-route-ingredientId="@Model.Recipe.Ingredients[i].IngredientId" onclick="return confirm('Are you sure you want to delete ingredient?')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            }
        </table>

        <div class="container row p-0 m-0">
            <div class="col-9">
                @Html.DisplayName("Directions:")
            </div>
            <div class="col-3 pb-1">
                <button class="btn btn-info form-control text-white" asp-page-handler="AddDirection" asp-route-id="@Model.Recipe.Id">Add Direction</button>
            </div>
        </div>
        <table class="table table-striped border">
            <tr class="table-secondary">
                <td>Number</td>
                <td colspan="2">Description</td>
            </tr>
            @for (var i = 0; i < Model.Recipe.Directions.Count(); i++)
            {
                <tr>
                    <td>
                        <input hidden asp-for="Recipe.Directions[i].Id" class="form-control" />
                        <input hidden asp-for="Recipe.Directions[i].RecipeId" class="form-control" />
                        <input hidden asp-for="Recipe.Directions[i].StepNumber" class="form-control" />
                        @Html.DisplayFor(m => m.Recipe.Directions[i].StepNumber)
                    </td>
                    <td>
                        <input hidden asp-for="Recipe.Directions[i].StepInstruction" class="form-control" />
                        @Html.TextBoxFor(m => m.Recipe.Directions[i].StepInstruction, new { @class = "form-control" })
                    </td>
                    <td>
                        <button asp-page-handler="DeleteDirection" asp-route-stepId="@Model.Recipe.Directions[i].Id" onclick="return confirm('Are you sure you want to delete step?')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            }
        </table>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <button type="submit" class="btn btn-primary form-control" disabled>Update</button>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}